/* تصميم عام */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: #f0b330;
  height: 100vh; /* استخدام كامل ارتفاع الشاشة */
}

.title {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: bold;
  color: #1A237E;
}

.buttonsWrapper {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; /* ترتيب الأزرار عموديًا */
}

.cardButton {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-size: 18px; /* حجم الخط أقل للجوال */
  color: #1A237E;
  border: none;
  cursor: pointer;
  width: 100%; /* جعل الأزرار تأخذ عرض الشاشة بالكامل */
}

.cardButton:hover {
  background-color: #1A237E;
  color: white;
}

.azkar {
  font-size: 18px;
  text-align: right;
  line-height: 28px;
  color: #000;
  writing-direction: rtl;
}

/* استعلام وسائط (media query) للجوال */
@media (max-width: 768px) {
  .title {
    font-size: 30px; /* تقليل حجم العنوان على الجوال */
  }

  .cardButton {
    font-size: 16px; /* تقليل حجم الخط للأزرار */
  }

  .container {
    padding: 16px; /* تقليل المسافات في الجوال */
  }

  .buttonsWrapper {
    margin-bottom: 16px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px; /* تقليل حجم العنوان أكثر للجوالات الصغيرة */
  }

  .cardButton {
    font-size: 14px; /* تقليل حجم الخط للأزرار للجوالات الصغيرة */
  }

  .container {
    padding: 12px; /* تقليل المسافات في الجوالات الصغيرة */
  }
}
