/* التأكد من تنسيق الصفحة بشكل جيد */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0b330;  /* الخلفية */
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #1A237E;  /* اللون الأزرق */
  margin-top: 40px;
  margin-bottom: 50px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardButton {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  font-size: 18px;
  color: #1A237E;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cardButton:hover {
  background-color: #1A237E;
  color: white;
}

.azkar {
  font-size: 18px;
  color: #000;
  margin-top: 20px;
  text-align: right;
  line-height: 28px;
  writing-direction: rtl;  /* النص من اليمين لليسار */
}
